body {
  background-color: #181b28;
}

.App {
  text-align: center;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: auto;
  width: 80vw;
  border-radius: 15px;
  background: linear-gradient(4deg, rgba(29, 32, 51, 1) 0%, rgba(47, 58, 87, 1) 100%);
  color: #eefbfb;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

h1 {
  background: #3c4563;
  width: 260px;
  padding: 15px;
  border-radius: 20px;
  margin: 30px auto;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

ul {
  list-style: none;
  padding: 0;
}

.stock {
  display: grid;
  grid-template-columns: 10% 11.5% 12.5% 9.5% 15.5% 9.5% 8.5% 14% 8%;
  margin: 20px;
  background: #3c4563;
  border-radius: 10px;
  color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

.stock div {
  flex-grow: 1;
  margin: 10px;
  border-radius: 5px;
  padding-bottom: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.ticker {
  color: #eefbfb;
  font-size: 0.9em;
  font-weight: bold;
  padding: 13px;
  background: #4da8da;
  border-radius: 3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

p {
  font-weight: bold;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;
}

form input {
  height: 40px;
  background: #3c4563;
  padding-left: 10px;
  color: #ffffff;
  font: inherit;
  border: 0;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

form input:focus {
  outline: none;
}

.submit-btn {
  height: 42px;
  width: 100px;
  background: none;
  color: inherit;
  background: #3c4563;
  border: 0;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 0.8em;
  font-weight: bold;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.submit-btn:active {
  box-shadow: none;
}

.delete-btn {
  height: 31px;
  background: none;
  color: inherit;
  background: #d05d5d;
  border: #d05d5d 1px solid;
  border-radius: 10px;
  padding: 0;
  margin: 16px 10px;
  font-size: 0.7em;
  font-weight: bold;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.delete-btn:active {
  box-shadow: none;
}

.annotation {
  font-size: 0.7em;
  color: #6f7488;
}

.ticker_AMZN {
  background: #ff9900;
}

.ticker_AAPL {
  background: #a3aaae;
}

.ticker_FB {
  background: #3b5998;
}

.ticker_GOOGL {
  background: #4285f4;
}

.ticker_MSFT {
  background: #7cbb00;
}

.ticker_TSLA {
  background: #e82127;
}

@media screen and (max-width: 1150px) {
  .wrapper {
    transform: translate(-50%, -40%);
  }
}

@media screen and (max-width: 1048px) {
  .wrapper {
    transform: translate(-50%, -20%);
  }

  h1 {
    font-size: 1.8em;
  }

  .stock {
    grid-template-columns: 25% 25% 25% 25%;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.5em;
  }

  .stock {
    grid-template-columns: 33% 33% 33%;
  }
}

@media screen and (max-width: 520px) {
  .wrapper {
    transform: translate(-50%, -13%);
  }

  h1 {
    width: 60%;
  }

  .stock {
    grid-template-columns: 50% 50%;
  }

  form {
    width: 60vw;
    margin: 20px auto;
  }

  form input {
    width: 30vw;
    font-size: 0.8em;
  }
}

@media screen and (max-width: 368px) {
  .wrapper {
    transform: translate(-50%, -8%);
  }

  .stock {
    grid-template-columns: 100%;
  }
}
